---
title: home
layout: default
custom_head: home/landing-page-head.html
---

<nav class="navbar2 vertical-landing-page-menu">
  <div class="navbar navbar-default side-nav vertical-nav">
      <div class="container-fluid">
        <div class="row">
          <ul class="hidden-xs nav">
            <li class="t-title"><a href="#about" class="page-scroll">Force rebuild2 About</a></li>
            <li class="t-title"><a href="#calendar" class="page-scroll">Calendar</a></li>
            <li class="t-title"><a href="#contact" class="page-scroll">Contact Us</a></li>
          </ul>
        </div>
      </div>
  </div>
</nav>

{% include home/hero.html %}
{% include home/about.html %}
{% include home/calendar.html %}
{% include home/contact.html %}
