<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css" />
  <!--<link rel="stylesheet" href="{{site.baseurl}}/assets/css/agency.css" />-->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="{{site.baseurl}}/assets/js/jquery-1.12.4.js"></script>
  
</head>
