<!-- <nav class="navbar">
  <div class="nav-wrapper">
  <a href="{{site.baseurl}}" class="brand-logo">TeachOSM</a>
  <ul id="nav-mobile" class="right">
    <li><a href="{{site.baseurl}}/blog">Triggering github pages rebuild, Blog</a></li>
    <li><a href="{{site.baseurl}}/courses">Projects</a></li>
  </ul>
  </div>
</nav> -->

<nav class="navbar navbar-default navbar-fixed-top {% if page.title != 'home' %}navbar-shrink{% endif %}">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{site.baseurl}}/">
        <img class="logo" src="{{site.baseurl}}/assets/images/logo.png" />
      </a>

    {% if page.title == 'home' %}
      <div class="horizontal-landing-page-menu">
          <ul class="navbar-nav menu2 hidden-xs nav">
            <li class="t-title"><a href="#about" class="page-scroll">About</a></li>
            <li class="t-title"><a href="#calendar" class="page-scroll">Calendar</a></li>
            <li class="t-title"><a href="#contact" class="page-scroll">Contact Us</a></li>
          </ul>
      </div>
    {% endif %}

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="{{site.baseurl}}/blog">Blog</a>
        </li>
        <li>
          <a class="page-scroll" href="{{site.baseurl}}/projects">Projects</a>
        </li>
        <li>
          <a class="page-scroll" href="{{site.baseurl}}/Resources">Resources</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

