.add-project {
  margin: 125px 32px;

  header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-title {
      font-size: 24px;
    }
  }

  form {
    // jquery-steps css overwrite
    .wizard {

      > .steps {

        > ul {
          display: flex;

          > li a {
            padding: 16px;
          }

          @media (max-width: $tablet-width) {
            flex-direction: column;

            > li {
              width: 100%;
            }
          }
        }

        a, a:hover, a:active {

        }

        .disabled {
          a, a:hover, a:active {

          }
        }
        .current {
          a, a:hover, a:active {
            background: $primary-color;
          }
        }
        .done {
          a, a:hover, a:active {
            background: rgba($primary-color, .75);
          }
        }
        .error {
          a, a:hover, a:active {

          }
        }
      }

      > .content {
        > section {
          overflow: auto;
          width: 100%;

          input[type='text'] {
            width: 100%;
          }

          textarea {
            display: block;
            height: 150px;
            width: 100%;

            &.error {
              background: rgb(251, 227, 228);
              border: 1px solid #fbc2c4;
              color: #8a1f11;
            }
          }

          h3 {
            font-size: 18px;
          }
        }
      }

      > .actions {
        a, a:hover, a:active {
          background: $primary-color;
        }

        .disabled {
          a, a:hover, a:active {
            background: #eee;
          }
        }
      }
    }
  }
}

.top-margin {
  margin-top: 16px;
}

.uploadable {
  height: 150px;
  position: relative;
  width: 100%;

  input {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  label {
    background: rgba($primary-color, .2);
    border: 2px dashed $primary-color;
    color: $primary-color;
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 100%;

    &#projectImage-error, &#projectFile-error {
      background: none !important;
      border: none !important;
      font-size: 16px !important;
      height: auto !important;
      position: absolute !important;
      right: 0 !important;
      top: -30px !important;
      width: auto !important;
    }

    .fa {
      color: $primary-color;
      font-size: 32px;
    }
  }
}

.selectize-dropdown {
  z-index: 9999;
}
