#contact {
  background-color: #222;
  background-image: url('/assets/images/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
  padding: 64px 0;
}

#contact .section-heading {
  color: #fff;
}

#contact .form-group {
  margin-bottom: 25px;
}

#contact .form-group input,
#contact .form-group textarea {
  padding: 20px;
}

#contact .form-group input.form-control {
  height: auto;
}

#contact .form-group textarea.form-control {
  height: 236px;
}

#contact .form-control:focus {
  border-color: $primary-color;
  box-shadow: none;
}

#contact::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: $content-font;
  font-weight: 700;
  color: #bbb;
}

#contact:-moz-placeholder {
  text-transform: uppercase;
  font-family: $content-font;
  font-weight: 700;
  color: #bbb;
}

#contact::-moz-placeholder {
  text-transform: uppercase;
  font-family: $primary-color;
  font-weight: 700;
  color: #bbb;
}

#contact:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: $primary-color;
  font-weight: 700;
  color: #bbb;
}

#contact .text-danger {
  color: #e74c3c;
}
