.resources {
	#resources-title {
		margin-top: 200px;
		position: relative;


		#page-title {
			width: 25%;
			text-align: left;
			font-weight: 700;
			position: absolute;
			top: 50%;
        	transform: translateY(-50%);
        	margin-top: 10px !important;
        	margin-bottom: 10px !important;
        	padding-left: 15%;
		}

		#spotlight-card {
			width: 45%;
			background: $primary-color;
			border: 1px solid #dce4ec;
			border-radius: 4px;
			overflow: hidden;
			display: flex;
			margin-top: 100px;
			margin-bottom: 100px;
			margin-left: 50%;

			p {
				font: white;
				padding: 10px;
				text-align: block;
			}
		}
	}

	#meet-mappers {
		background-image: url({{site.baseurl}}/assets/images/meetmappers.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 10px;
		position: relative;
		overflow: hidden;
		width: 100%;
		margin-bottom: 100px;

		a,h3 {
			text-decoration: none;
			color: $primary-color;
			font-size: 15px;

		}
		

		#mappers-title {
			color: black;
			text-align: center;
			margin-bottom: 20px;

		}

		#MYM-description {
			width: 50%;
			text-align: center;
			margin-bottom: 20px;
			margin: auto;
		}

		#MYM-map {
			position: relative;
		    margin-top: 10px;
		    height: 100px;
		    width: 150px;
		    max-width: 20%;
		}

		#MYM-button {
			text-align: center;
			padding-left: 40%;
			padding-right: 40%
		}
	}

	.more-resources {
		margin-bottom: 50px;
		#resource-card {
			border-radius: 4px;
			border: 2px solid $primary-color;
			display: grid;
			grid-gap: 8px 8px;
			grid-template: 1fr 48px / repeat(6, 1fr);
			padding: 16px;
			float: left;
			width: 30%;
			height: 250px;
			margin: 1.5%;
			text-decoration: none;
			overflow: hidden;
			position: relative;
			color: black;

			#summary-container {
				position: relative;
				width: 100%;
				grid-column-start: 1;
				grid-column-end: 3;

				h3,h4,p {
					color: black;

				}

				h3 {
					font-size: 20px;
				}

				h4 {
					font-size: 16px;
				}

				p {
					font-size: 12px;
					word-wrap: break-word;
					color: black;
				}
			}

			#photo-container {
				position: absolute;
				top: 50%;
        		transform: translateY(-50%);
        		grid-column: 2;
				img {
					border-radius: 50%;
					height: auto;
					margin: 0 auto;
					text-align: center;
					width: 30%;
					grid-column-start: 4;
					grid-column-end: 6;
					position: relative;
				}
			}

		}
	}
}