$primary-color: #7EBC6F;
$secondary-color: #90a4ae;
$accent-color: #d500f9;

@import url('https://fonts.googleapis.com/css?family=Signika:300,400,500,700|Raleway:300,400,600');

@font-face {
   font-family: "Anderson_Grotesk";
   src: url("{{site.baseurl}}/assets/fonts/AndersonGrotesk.otf") format("opentype");
}

//$title-font: 'Signika', sans-serif;
//$content-font: 'Raleway', sans-serif;

$title-font: 'Anderson_Grotesk', sans-serif;
$content-font: 'Anderson_Grotesk', sans-serif;
