$primary-color: #00796b;
$secondary-color: #90a4ae;
$accent-color: #d500f9;

@import url('https://fonts.googleapis.com/css?family=Signika:300,400,500,700|Raleway:300,400,600');

$title-font: 'Signika', sans-serif;
$content-font: 'Raleway', sans-serif;
