<div class="lesson-card">
  <img src="{% if lesson.author.image.present? %}{{site.url}}/{{lesson.author.image}}{% else %}{{site.url}}/assets/images/default-profile.jpg{% endif %}" />
  <div class="card-title">
    <h1>{{lesson.title}}</h1>
    <h2>{{lesson.subtitle}}</h2>
    <p>{{lesson.author.name}}</p>
  </div>
  <p class="card-description">{{lesson.description}}</p>
  <div class="card-tags">
    <p>Tags:&nbsp;</p>
    {% for tag in lesson.tags %}
      <span class="card-tag">{{tag}}</span>
    {% endfor %}
  </div>
  <div class="card-button">
    <a href="{{site.url}}{{lesson.url}}.html">Go to lesson</a>
  </div>
</div>
