---
title: add-project
permalink: "/projects/add"
layout: default
---

<header>
  <h1 class="page-title">Create Project</h1>
  <a class="primary-button" href='{{site.baseurl}}/projects'>Back to Projects</a>
</header>
<form id="add-project-form" action="#" class="hidden">
  <div>
    <h1>User Information</h1>
    <section>
      <label for="name">Name *</label>
      <input id="name" name="name" type="text" class="">
      <label for="email">Email *</label>
      <input id="email" name="email" type="text" class=" email">
      <label for="confirmEmail">Confirm email *</label>
      <input id="confirmEmail" name="confirmEmail" type="text" class=" email">
    </section>
    <h1>Project Information</h1>
    <section>
      <label for="projectTitle">Title *</label>
      <input id="projectTitle" name="projectTitle" type="text" class="required">
      <label for="projectSubtitle">Subtitle</label>
      <input id="projectSubtitle" name="projectSubtitle" type="text">
      <label for="projectDescription">Description *</label>
      <textarea id="projectDescription" name="projectDescription" class="required"></textarea>
      <label class="top-margin">Thumbnail Image *</label>
      <div class="uploadable">
        <input id="projectImage" name="projectImage" type="file" class="required" />
        <label id="projectImageLabel" for="projectImage"><i class="fa fa-image"></i><br />Upload Image</label>
      </div>
      <label class="top-margin">Project materials *</label>
      <div class="uploadable">
        <input id="projectFile" name="projectFile" type="file" class="required" />
        <label id="projectFileLabel" for="projectFile"><i class="fa fa-upload"></i><br />Upload File</label>
      </div>
    </section>
    <h1>Filters and Tags</h1>
    <section>
      {% for filter in site.filters %}
        <h3>{{ filter.title }} *</h3>
        {% for option in filter.options %}
          <input id="{{ filter.name }}::{{ option.name }}" type="radio" name="{{ filter.name }}" value="{{ option.value }}" class="required" />
          <label for="{{ filter.name }}::{{ option.name }}">{{ option.name }}</label>
          <br />
        {% endfor %}
      {% endfor %}
      <label for="tagSelector">Tags</label>
      <input id="tagSelector" data-placeholder="Select tags" />
    </section>
    <h1>Finish and Submit</h1>
    <section>
      Any final information should be placed here...
    </section>
  </div>
</form>
